<% if @article.errors.any? %>
<h2>The following errors prevented the article from getting created</h2>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @article do |f| %>
<div class="row">
  <div class="col-md-6">
<div class="form-group">
  <%= f.label :title %><br />
  <%= f.text_field :title, class: "form-control", placeholder: :title %>
</div>

<div class="form-group">
  <%= f.label :description %><br />
  <%= f.text_area :description, class: "form-control", placeholder: :description %>
</div>

<p>
  <%= f.submit "Doe maar!", class: "btn btn-primary" %>
<% end %>
  </div>
</div>

<%= link_to "Terug naar overzicht", articles_path %>