<%= form_for @user do |f| %>
<div class="row">
  <div class="col-md-6">

<div class="form-group">
  <%= f.label :username %><br />
  <%= f.text_field :username, class: "form-control", placeholder: :username %>
</div>

<div class="form-group">
  <%= f.label :password %><br />
  <%= f.password_field :password, class: "form-control", placeholder: :password %>
</div>



<div class="form-group">
  <%= f.label :email %><br />
  <%= f.email_field :email, class: "form-control", placeholder: :email %>
</div>

<p>
  <%= f.submit(@user.new_record? ? "Inschrijven" : "Update account", class: "btn btn-primary") %>
<% end %>
  </div>
</div>