<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <div class="container">
  <% flash.each do |name, msg| %>

    <p class="bg-primary" style="padding: 20px; margin: 40px 0;"><%= msg %>

  <% end %>

<%= yield %>
  </div>

</body>
</html>
